<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../POTRERO DIGITAL TRABAJO FINAL/public/img/Paisaje.jpeg" type="image/png">
</head>
<body>
   <!-- HEADER-->
</header>
<header>
    <div>
        <h1>LAGUNA ESPERANZA</h1>
        <p>Veni a conocer una gran experiencia Patagonica. </p>
    </div>
</header>
<!-- NAVBAR-->
<nav class="navbar">
    <a href="">INICIO</a>
    <a href="public/view/shop.html">SHOP</a>
    <a href="">REGISTRO</a>
</nav>    
 <main>
    <article>
        <h2>NUESTROS CULTIVOS</h2>
        <div class="frutos"><img src="../img/Frutos.jpeg" alt=""></div>
        
        <p>La Estancia Laguna Esperanza, ubicada en la Patagonia argentina, es un lugar privilegiado para cultivar una variedad de productos regionales gracias a su hermoso entorno natural y su tierra fértil. Los propietarios, la familia Rudd, han aprovechado esta tierra generosa para cultivar una amplia gama de productos que prosperan en la región. Algunos de los productos que se cultivan en Laguna Esperanza incluyen</p>
    </article>
    <article>
        <H2>FRUTAS FINAS</H2>
       <div class="frutos"><img src="../img/Frutillas.jpeg" alt=""></div>
        <h3>Frutillas y grosellas</h3>
       <div class="frutos"><img src="../img/frutillas2.jpeg" alt=""></div>
        <p>Dulces de grosellas y frutillas: Las grosellas y frutillas son frutas deliciosas y populares en la Patagonia. Sus dulces y mermeladas son un manjar local y se preparan con la fruta fresca cosechada en la estancia. Estos dulces son apreciados por su sabor auténtico y se convierten en un regalo apreciado para los visitantes.</p>
        
 </main>
</body>

</html>